/* You can add global styles to this file, and also import other style files */
*{
   background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1720062000&semt=sph");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}